div(class='form-input' data-init='inputText')
  label(class='form-input__label' for=dateFieldName) #{dateField.inputLabel}
  input(
    class='form-input__field'
    type=dateField.inputType
    value=dateField.inputValue
    name=dateField.inputName
    id=dateField.inputName
    required
  )

  div(class='errors form-input__errors errors__hide' role='alert')
    div(class='errors__title form-input__errors__title')
      strong Error:
    div(class='errors__message errors__hide form-input__errors__message errors__message-required') Input of #{dateField.inputLabel} is required.
    div(class='errors__message errors__hide form-input__errors__message errors__message-not-equal') Both #{dateField.inputLabel} field values needs to be equal.
    div(class='errors__message errors__hide form-input__errors__message errors__message-pattern') Input of #{dateField.inputLabel} is invalid.
        if dateField.patternMessage
          span #{dateField.patternMessage}
