div(class='form-dropdown')
  label(class='form-dropdown__label' for=dropdownField.dropdownName) #{dropdownField.dropdownLabel}
  select(
    class='form-dropdown__field'
    name=dropdownField.dropdownName
    id=dropdownField.dropdownName
  )
    each optionItem in dropdownField.dropdownOptions
      if index === 0
        option(id=optionItem.name value=optionItem.value selected) #{optionItem.label}
      else
        option(id=optionItem.name value=optionItem.value) #{optionItem.label}
