div(class='form-input' data-init='inputText')
  label(class='form-input__label' for=dateFieldName) #{dateField.inputLabel}
  input(
    class='form-input__field'
    type=dateField.inputType
    placeholder=dateField.inputPlaceholder
    value=dateField.inputValue
    name=dateField.inputName
    required=dateField.inputRequired
  )

  div(class='errors form-input__errors errors__hide' role='alert')
    <div class="errors__title form-input__errors__title">
      Error
    </div>
    <div class="errors__message form-input__errors__message">Field #{dateField.inputLabel} is invalid.</div>
